.button{
	border-radius: 1.5rem;
	height: 3rem; line-height: 3rem; padding: 0 2rem;
	background-color: color(White); 
	color: color(Black);
	font-weight: 500; 
	text-decoration: none; 
	display: inline-block; 
}