.button{ 
	display: inline-block;
	height: 3rem;
	border-radius: 1.5rem;
	background-color: color(White); 
	color: color(Black);
	font-weight: 500; line-height: 3rem; 
	text-decoration: none; padding: 0 2rem; 
}