h1,
h2,
h3,
h4,
h5,
h6 {
  color: inherit;
  &.sub {
    font-weight: 400;
  }
}


h3{
  font-size: grid(.75);
  @include min-('font-size',.75,40);
  line-height: 1.25;
}
h4{
  font-size: grid(.5);
  @include min-('font-size',.5,24);
  font-weight: normal;
  line-height: 1.25;
}

p{
  font-size: 18px;
  opacity: .9;
  line-height: 1.5;
}

hr{
  border: none; color: currentColor; 
  height: 2px; 
  margin: 2rem; 
  background-image: linear-gradient(to bottom, color(White,.25), color(White,.25));
  background-color: transparent;
}